@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
    color:#78bdbd;
 background-color: rgba(0, 0, 0, 0.564);
margin: 0px;
margin-bottom: 100px;
font-family: "Roboto mono", monospace;
}


h1{
    color: blanchedalmond;
font-size: 40px;

}
p{
    font-size: 20px;
}